.App {
  text-align: center;
  display: flex;
}
#map {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 50vw;
  height: 90vh;
  overflow: hidden;
}
.Search-panel-container{
  width: 43vw;
  height: 90vh;
  background-color: #fdfdfd;
}
.location-svg{
  width: 25px;
  height: 25px;
}